<!-- <title>Artworks</title> -->
    
<% layout('./layouts/boilerplate') %>
    <!-- Header section -->
    <header>
        <h1>All Artworks</h1>
        <!-- Link to add a new artwork -->
        <a href="/artworks/new">Add New Artwork</a>
    </header>

    <!-- List of all artworks -->

<% artwork.forEach(artwork=> { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="<%=artwork.images%>" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=artwork.title%></h5>
                    <p class="card-text text-secondary"><%=artwork.artist%></p>
                    <p class="card-text"><%=artwork.type%></p>
                    <p class="card-text"><%=artwork.location%></p>
                    <p class="card-text"><%=artwork.description%></p>
                    <a class="btn btn-primary" href="/artworks/<%= artwork._id %>">View</a>
                </div>
            </div>
        </div>
    </div>
<% }) %>
